/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RalewayRegular"; */
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PFCentroSlabProMedium"; */
@font-face {
  font-family: "PFCentroSlabProMedium";
  src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot");
  src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff") format("woff"), url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "*"; */
@font-face {
  font-family: "fontawesome-webfont";
  src: url("../fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "*"; */
@font-face {
  font-family: "*";
  src: url("../fonts/*/*.eot");
  src: url("../fonts/*/*.eot?#iefix") format("embedded-opentype"), url("../fonts/*/*.woff") format("woff"), url("../fonts/*/*.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
header {
  background: #1E85C7;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}
header .topline {
  display: block;
  line-height: 60px;
}
header .topline .logo {
  color: #fff;
  padding-left: 0;
}
header .topline .logo a {
  font-size: 50px;
  color: #fff;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 3px 4px #ccc;
  display: block;
  line-height: 55px;
  position: relative;
}
header .topline .logo a::after {
  content: "Web Development";
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  position: absolute;
  top: 90%;
  left: 0%;
  line-height: 16px;
  letter-spacing: 2.5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
header .topline .logo a:hover {
  text-decoration: none;
}
header .topline .nav {
  text-align: right;
  padding-right: 0;
}
header .topline .nav ul {
  list-style: none;
}
header .topline .nav ul li {
  display: inline-block;
  padding: 2px 12px;
  line-height: 36px;
}
header .topline .nav ul li a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  padding-bottom: 0px;
  text-align: center;
  display: block;
}
header .topline .nav ul li a::after {
  content: " ";
  width: 0px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-align: center;
}
header .topline .nav ul li a:hover::after {
  content: " ";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
header .topline .nav ul li:last-child {
  background: #0C4C79;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}
header .topline .nav ul li:last-child:hover {
  background: #0a3d62;
}
header .head-content {
  padding: 140px 0 220px;
  text-align: center;
}
header .head-content h1 {
  color: #fff;
  font-size: 58px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  letter-spacing: 10px;
  word-spacing: 10px;
}
header .head-content ul {
  list-style-type: disc inside;
  color: #fff;
  margin-bottom: 30px;
}
header .head-content ul li {
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-size: 26px;
  margin-left: 10px;
  position: relative;
  line-height: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 5px;
  font-weight: normal;
}
header .head-content ul li::before {
  content: " ";
  width: 3px;
  height: 3px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  position: absolute;
  left: -10px;
  top: 50%;
}
header .head-content ul li:first-child::before {
  content: " ";
  width: 0px;
  height: 0px;
}
header .head-content a {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 5px;
  font-weight: normal;
  color: #fff;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
header .head-content a:hover {
  text-decoration: none;
  color: #0C4C79;
}
header .head-content a::after {
  content: "\f107";
  font-family: "fontawesome-webfont";
  position: absolute;
  font-size: 24px;
  font-weight: normal;
  left: 50%;
  top: 90%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
