body {
  text-align: center;
  padding-top: 100px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body header .btn {
  padding: 20px 100px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: lime;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.popo {
  height: 900px;
  background: -webkit-gradient(linear, left bottom, left top, from(#e2eaaa), to(#dbccdd));
  background: -webkit-linear-gradient(bottom, #e2eaaa 0%, #dbccdd 100%);
  background: linear-gradient(to top, #e2eaaa 0%, #dbccdd 100%);
}

.loplo {
  color: blue !important;
  background: #11ccee;
  font-size: 36px;
  padding: 10px 300px !important;
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
}
