/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RalewayRegular"; */
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PFCentroSlabProMedium"; */
@font-face {
  font-family: "PFCentroSlabProMedium";
  src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot");
  src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff") format("woff"), url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "*"; */
@font-face {
  font-family: "fontawesome-webfont";
  src: url("../fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "*"; */
@font-face {
  font-family: "*";
  src: url("../fonts/*/*.eot");
  src: url("../fonts/*/*.eot?#iefix") format("embedded-opentype"), url("../fonts/*/*.woff") format("woff"), url("../fonts/*/*.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

* {
  padding: 0;
  margin: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

.content-wrap {
  width: 100%;
  text-align: center;
}
.content-wrap .aside {
  background: #423333;
  height: 400px;
  line-height: 400px;
  text-align: center;
}
.content-wrap .aside img {
  width: 200px;
}
.content-wrap .aside:nth-child(1) {
  background: #fff;
}
.content-wrap .aside:nth-child(2) {
  background: #327B81;
}
.content-wrap .aside:nth-child(3) {
  background: #26292D;
}
.content-wrap .aside:nth-child(4) {
  background: #343434;
}
.content-wrap .aside:nth-child(5) {
  background: #fff;
}
.content-wrap .aside:nth-child(6) {
  background: #000;
}
.content-wrap .aside:nth-child(7) {
  background: #0eeedd;
}
.content-wrap .aside:nth-child(8) {
  background: #fff;
}
.content-wrap .aside:nth-child(9) {
  background: #000;
}

.content1 {
  padding-top: 100px;
}
.content1 .text-right {
  text-align: right;
}

.txt-wrap {
  padding: 30px 0;
}
.txt-wrap .text {
  display: block;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 32px;
  position: relative;
  padding: 50px 0 0 0;
}
.txt-wrap .text::before {
  content: "\f10d";
  font-family: "fontawesome-webfont";
  color: #0C4C79;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer {
  background: #000;
  color: #fff;
}
.footer .link-to {
  background: #1E85C7;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  line-height: 30px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-bottom: 100px;
}
.footer .link-to:hover {
  opacity: .7;
}
.footer .link-to a {
  font-size: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-weight: normal;
  position: relative;
}
.footer .link-to a:hover {
  text-decoration: none;
}
.footer .link-to a::before {
  content: "\f0da";
  font-family: "fontawesome-webfont";
  width: 20px;
  position: absolute;
  font-size: 24px;
  font-weight: normal;
  left: 120%;
  top: 10%;
}
.footer .left-footer {
  background: #000cde;
  height: 300px;
  padding: 0;
}
.footer .left-footer .image {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  padding: 0;
}
.footer .left-footer .text {
  padding: 0;
  float: right;
}
.footer .center-footer {
  background: #edc000;
  height: 300px;
}
.footer .right-footer {
  background: #6e0d0c;
  height: 300px;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }

  nav {
    text-align: left;
  }
  nav .main-menu {
    display: none;
    padding: 0;
    top: 25px;
    z-index: 1;
  }
  nav .main-menu li {
    background: #ddd;
    display: block !important;
    width: 100%;
    margin: 0 0 1px;
    padding: 10px !important;
    text-align: right;
  }
  nav .main-menu li a {
    color: #1E85C7 !important;
  }

  .toggle-mnu {
    position: absolute;
    top: -50px;
    right: 12px !important;
  }

  .nav {
    padding: 0 !important;
  }

  .head-content {
    padding: 50px 0 50px !important;
    text-align: center !important;
  }
  .head-content h1 {
    color: #fff;
    font-size: 58px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    letter-spacing: 0px !important;
    word-spacing: 0px !important;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width: 769px) {
  /**/
  .main-menu {
    display: block !important;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
